# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
cytokine_de_results_no_outliers.csv
cytoseed_ensembl_cache.pkl
elbo_convergence.png
gene_id_cache.json
IBD_filtered_human_pathways_cache.pkl
old.tar.gz
pathways_ensembl_cache.pkl
pseudobulk_cell_ids.json
pseudobulk_cyto_profiles.csv
sspa_vi_1048494.err
sspa_vi_1048494.out
vi_test_ajm.ipynb
ap/ajm_df_vi.pkl
ap/ajm_features_vi.pkl
ap/ap_beam_scores.csv
BRAY_FileTransfer/MouseHumanBridge_JaxRef_2024-02-06.csv
BRAY_FileTransfer/AJMData_ParseTC_CD40/GEX_trainingTC_filt_raw_2024-07-10.rds
BRAY_FileTransfer/AJMData_ParseTC_CD40/meta_FILT_trainingTC_2024-07-10.csv
BRAY_FileTransfer/BRAY_AJM2/1_Background/datadescriptions3_Feb2024.xlsx
BRAY_FileTransfer/BRAY_AJM2/2_Data/1_ASGs/APBEAM_genes.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/1_ASGs/CYTOBEAM_genes.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/1_ASGs/IgBEAM_genes.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/1_ASGs/V14_ASGs.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/1_ASGs/V14_ASGs.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/data_structure.txt
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/GEX_NAP_filt_norm_modelingonly_2024-02-05.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/GEX_NAP_filt_norm_modelingonly_2024-02-05.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/GEX_NAP_filt_raw_modelingonly_2024-02-05.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/GEX_NAP_filt_raw_modelingonly_2024-02-05.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/GEX_NAP_unfilt_raw_fullData_2024-02-05.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/1_GSE139565_NaiveAndPlasma/meta_NAP_unfilt_fullData_2024-02-05.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/GEX_TC_LPSonly_Bcellonly_filt_norm_2024-02-09.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/GEX_TC_LPSonly_Bcellonly_filt_raw_2024-02-05.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/GEX_TC_LPSonly_Bcellonly_filt_raw_2024-02-05.rds
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/meta_TC_LPSonly_Bcellonly_filt_raw_2024-02-05.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/norm_matrix_colnames.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/norm_matrix_dims.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/norm_matrix_rownames.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/norm_matrix_sparse.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/raw_matrix_colnames.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/raw_matrix_dims.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/raw_matrix_rownames.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/2_SingleCellData/2_AJM_Parse_Timecourse/raw_matrix_sparse.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/1_GSE129536_Japan/Fulldata_TMM_DF2021-11-09.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/1_GSE129536_Japan/labeled_FPKM_genelevel_DF_2024-02-06.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/1_GSE129536_Japan/tximport_CountsDF2021-11-09.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/2_GSE60927_bulkVariousBtypes/GSE60927_Fulldata_TMM_DF2021-11-11.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/2_GSE60927_bulkVariousBtypes/GSE60927_Raw_counts.txt
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/2_GSE60927_bulkVariousBtypes/labeled_FPKM_genelevel_DF_2024-02-06.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/3_GSE147496_Australia/fulldata_TMM_DF2021-11-23.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/3_GSE147496_Australia/labeled_FPKM_genelevel_DF_2024-02-06.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/3_GSE147496_Australia/tximport_CountsDF2021-11-08.csv
BRAY_FileTransfer/BRAY_AJM2/2_Data/3_BulkRNAData/3_GSE147496_Australia/tximport_TPM_DF2021-11-23.csv
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/1_DataProcessing/BulkRNA_TMMnormalization.R
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/1_DataProcessing/scRNA_sizeFactorNormalization.R
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/0_README_BRAY_SampleRun_TMMnormalized.txt
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/B-RAY_baseFiles_TMMnormalized.RData
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/B-RAY_fxnV4V5.RData
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/fxnV4V5.R
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/MouseHumanBridge_JaxRef_2024-02-06.csv
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/mytheme_basic.RData
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/README_BRAY_SampleRun_TMMnormalized.txt
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/SampleRun_TMMnormalized.R
BRAY_FileTransfer/BRAY_AJM2/3_AJMFunctions/2_BRAYFxns/1_PCAV4V5_BULKPseudo/WhatToExpect_SampleRun_TMMnormalized.png
BRAY_FileTransfer/Covid19/barcodes.tsv.gz
BRAY_FileTransfer/Covid19/COVID19_ALL.h5ad.tar.gz
BRAY_FileTransfer/Covid19/features.tsv.gz
BRAY_FileTransfer/Covid19/matrix.mtx.gz
BRAY_FileTransfer/EMTAB11349/files/ArrayExpress-normalized.csv
BRAY_FileTransfer/EMTAB11349/files/ArrayExpress-raw.csv
BRAY_FileTransfer/EMTAB11349/files/E-MTAB-11349.idf.txt
BRAY_FileTransfer/EMTAB11349/files/E-MTAB-11349.sdrf.txt
BRAY_FileTransfer/EMTAB11349/preprocessed/aux_data.csv.gz
BRAY_FileTransfer/EMTAB11349/preprocessed/emtab_ensembl_converted.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/emtab_symbol.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/gene_expression.csv.gz
BRAY_FileTransfer/EMTAB11349/preprocessed/responses.csv.gz
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_emtab_ensembl_converted.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_emtab_symbol.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_gene_expression.csv.gz
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_tpm_emtab_ensembl_converted.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_tpm_emtab_symbol.pkl
BRAY_FileTransfer/EMTAB11349/preprocessed/tmm_tpm_gene_expression.csv.gz
BRAY_FileTransfer/GOFilters/FilterGene_Information.xlsx
BRAY_FileTransfer/GOFilters/Filters_July2024.R
BRAY_FileTransfer/GOFilters/Filters_July2024.RData
BRAY_FileTransfer/GOFilters/Filters_Larger_Seeds.RData
BRAY_FileTransfer/GSE233507_TRAPnSeq/GEX_ENS_BMSP_filt_raw_PSEUDO-A_2024-07-29.rds
BRAY_FileTransfer/GSE233507_TRAPnSeq/meta_BMSP_filt_raw_PSEUDO-A_2024-07-29.csv
BRAY_FileTransfer/human_pathways/pathway_process.ipynb
BRAY_FileTransfer/human_pathways/ReactomePathways.gmt
BRAY_FileTransfer/SeedGenes/APBEAM_KEGGPATHWAY_mouse.csv
BRAY_FileTransfer/SeedGenes/CYTOBEAM_Cytokines_KEGGPATHWAY_addedMif.csv
BRAY_FileTransfer/SeedGenes/IgBEAM_Igs_GO_term_summary_20220907_163014.csv
cache/covid19_test_100.h5ad
ctrl_sspa_test/data_split_cell_ids.json
ctrl_sspa_test/df.pkl
ctrl_sspa_test/features.pkl
ctrl_sspa_test/gene_list.txt
ctrl_sspa_test/theta_statistics_summary.png
ctrl_sspa_test/train_data_full_genes.csv
cyto/ajm_df_vi.pkl
cyto/ajm_features_vi.pkl
cyto/cyto_beam_reference_points.json
cyto/cyto_beam_scores.csv
cyto/data_split_cell_ids.json
cyto/gene_list.txt
cyto/train_data_full_genes.csv
jobs_sh/bayes_search.sh
jobs_sh/combined_job.sh
jobs_sh/comparison_job.sh
jobs_sh/emtab_gibbs_unmasked_job.sh
jobs_sh/emtab_init_job.sh
jobs_sh/emtab_svi_bayesopt.sh
jobs_sh/gibbs_ajm_cyto_masked_job.sh
jobs_sh/gibbs_combined_job.sh
jobs_sh/gibbs_emtab_unmasked_job.sh
jobs_sh/gibbs_init_job.sh
jobs_sh/gibbs_masked_job.sh
jobs_sh/gibbs_unmasked_job.sh
jobs_sh/grid_search_emtab.py
jobs_sh/grid_search_thyroid.py
jobs_sh/masked_job.sh
jobs_sh/optimized_vi.sh
jobs_sh/path_init_job.sh
jobs_sh/run_svi_bayesopt.sh
jobs_sh/signal_noise_job.sh
jobs_sh/test_gpu_job.sh
jobs_sh/test_signal_noise_quick.sh
jobs_sh/test_signal_noise_simple.sh
jobs_sh/test_signal_noise.sh
jobs_sh/test_single_experiment.sh
jobs_sh/test_svi_synthetic_job.sh
jobs_sh/thyroid_bayes_search.sh
jobs_sh/unmasked_job.sh
jobs_sh/vi_ajm_test.sh
sspa_test/data_split_cell_ids.json
sspa_test/df.pkl
sspa_test/features.pkl
sspa_test/gene_list.txt
sspa_test/train_data_full_genes.csv
ap/apbeam_reference_points.json
ap/data_split_cell_ids.json
ap/gene_list.txt
ap/train_data_full_genes.csv
BRAY_FileTransfer/ENS_mouse_geneannotation.csv
BRAY_FileTransfer/m2.cp.v2024.1.Mm.symbols.gmt
test.txt
progressive_tests/stage_1:_tiny_elbo.png
progressive_tests/stage_1:_tiny_results.pkl
beta_distributions.png
theta_distributions.png
tiny_res.log
v_weight_distributions.png
my_analysis/beta_heatmap.png
my_analysis/factor_correlation.png
my_analysis/theta_distribution.png
progressive_tests/stage_1:_tiny_model.pkl
progressive_tests/stage_2:_small_elbo.png
progressive_tests/stage_2:_small_model.pkl
progressive_tests/stage_2:_small_results.pkl
progressive_tests/stage_3:_medium_elbo.png
progressive_tests/stage_3:_medium_model.pkl
progressive_tests/stage_3:_medium_results.pkl
